body{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
	background-color: #87CEFA; /*LightSkyBlue*/
}

div.clearfix{
	background-color: white;
	overflow: hidden;
	margin-bottom: -12px;
}

header{
	background-color: #FA7080; /*Pale Red*/
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

nav{
	float: left;
	width: 130px;
	margin: 0px;
}

nav a, nav a:visited{
	color: #DC143C; /*Crimson*/
	text-decoration: none;
	display: block;
	padding: 30px;
	text-align: center;
	font-family: sans-serif;
	margin: 0px;
}

nav a:hover{
	background-color: #F0F8FF;
}

header h1{
	margin: 0px;
	color: white;
	font-size: 60px;
	font-style: italic;
	font-family: Arial, sans-serif;
}

header h3{
	margin: 0px;
	color: white;
	font-size: 24px;

}

#center{
	float: left;
	width: 700px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	background-color: white;
}	

aside{
	float: left;
	width: 250px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px 10px 10px 0px;
	background-color: #FFebcd;
}

footer{
	clear: both;
	text-align: center;
	background-color: #CCCCCC; 
	font-style: italic;
	font-size: 12px;
	margin: 0px;

}

footer p{
	padding: 10px;
	margin-bottom: 0px;
}

table img{
	max-width: 300px;
	height: auto;
}

table{
	border-style: none;
}

aside img{
	width: 250px;
	height: auto;
	border: 1px solid black;
}

span{
	font-style: italic;
	color: red;
	text-transform: uppercase;
}
